.footer {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: end;
    background-color: rgb(39, 37, 37);
}

.copyright {
    margin-right: 30px;
    color: white;
    cursor: default;
}